<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="header">
        
        <div class="navigation">
            <a href="/home">Home</a> &nbsp;
            <a href="/report">Report</a> &nbsp;
            <a href="/API">API</a> &nbsp;
        </div>
    
    </div>

    <div id="home-row">
        <div id="home-col">
            <h1 id="home-r1-col-1-header">Get your crypto credit score with ease.</h1>
            <p id="home-p">
            </p>
       
        </div>
     
    </div>

  

    <div id="credit-score-div">
        <div>
            <h1>Discover Your Credit Score.</h1>
            <h6>Only input BTC wallet addresses.</h6>
            <form action="/Results" method="post" id="wallet-address-form">
                <label id="form-label">Wallet Address</label>
                <br><br>
                <input id="address-input-field" type="text" name="wallet-address"
                placeholder="ex: 231243239489asd89">
                <br><br>
                <input id="submit-button" type="submit" value="Generate Score">
            </form>
        </div>
    </div>

    <div id="home-row-3">
        <div id="home-col">
            <h1 id="home-header">Join the Community.</h1>
            <p id="home-p">
                 
            </p>
            <button id="telegram-button" type="button" onclick="alert('Button is working.')">Join Telegram</button>
        </div>
        <div id="home-col-png">
            <img id="community-1" src="{{url_for('static', filename='media/community-1.png')}}" alt="Community" width="300" height="250">
        </div>
    </div>

</body>
</html>
